<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentimental Analysis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>//search Results</h3>
                <p>{{dataSearchText}}</p>
            </div>
            <div class="col-md-6 d-flex flex-wrap align-content-end justify-content-end">
                <form action={% url 'finalResult' %} method="post"> {% csrf_token %}
                    <input type="hidden" value={{dataSearchText}} name="nextData">
                    <button class="btn btn-primary">View Analysis</button>
                </form>
                <form class="ml-2" action={% url 'piefinalResult' %} method="post"> {% csrf_token %}
                    <input type="hidden" value={{dataSearchText}} name="nextData">
                    <button class="btn btn-secondary">PIE Analysis</button>
                </form>
            </div>
        </div>



        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>Tweet</th>
                </tr>
            </thead>
            <tbody>
                {%  for i in  searchResult.Tweets  %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td> {{i}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>

</body>

</html>